.layout {
  display: grid;
  grid-template-areas: "conversation language" "conversation animation" "controller animation";
}

.conversation {
  grid-area: conversation;
}

.language {
  grid-area: language;
}

.animation {
  grid-area: animation;
}

.controller {
  grid-area: controller;
}

@media (max-width: 1024px) {
  .layout {
    grid-template-areas: "conversation" "animation" "controller";
    grid-template-columns: minmax(1fr);
    grid-template-rows: auto 1fr auto;
  }
}
