@property --direction {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.button {
  position: relative;
  width: 280px;
  height: 48px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  
  opacity: 0.6; /* 60% transparent */
}

.button .border {
  pointer-events: none;
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 3px; /* border thickness */
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  overflow: hidden;
}

.button.loading .border::before {
  content: "";
  position: absolute;
  width: 800%;
  height: 800%;
  left: -350%;
  top: -350%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 106, 255, 1) 0%,
    rgba(179, 232, 255, 1) 20%
  );
  animation: spin 2400ms linear infinite;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
